.Rproj.user
.Rhistory
.RData
.Ruserdata
*.html
.directory
book-output/
_bookdown_files/
data/xls_example2.xlsx
data/spss_example2.sav
data/json_example2.json
data/rda_example.RData
data/rds_example.rds
data/txt_example2.txt
data/profile_files/
chapters/data/profile_files/
*.o
*.so
